/* Contact Page Styles */
#contact {
    background: #f4f4f4;
    padding: 50px 20px;
    text-align: center;
}

#contact h2 {
    font-size: 2.5rem;
}

#contact form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* width: 250px; */
}
